<!--
INFORMATIONS ASSURES
-->

<!-- Lorsqu'il y a qu'un assuré pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listAssures!=null && listAssures.length == 1">
    <div class="numAssure">{{rsc.label.numAssure}} {{listAssures[0].id_assure}} - {{listAssures[0].nom}} {{listAssures[0].prenom}} </div>
    <app-formulaire-assure [assure]="listAssures[0]" [action]="action"></app-formulaire-assure>
</div>

<!-- S'il y a plusieurs assure, on affiche chaque formulaire par assuré -->
<mat-accordion *ngIf="listAssures!=null && listAssures.length > 1">
    <mat-expansion-panel *ngFor="let assure of listAssures">
        <!-- Entête de panel -->
        <mat-expansion-panel-header>
            <!-- Titre du panel -->
            <mat-panel-title>
                <span>{{rsc.label.numAssure}} {{assure.id_assure}} - {{assure.nom}} {{assure.prenom}} </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Formulaire d'assuré -->
        <app-formulaire-assure [assure]="assure" [action]="action"></app-formulaire-assure>

    </mat-expansion-panel>
</mat-accordion>



<!--
INFORMATIONS BENEFICIAIRES
-->

<!-- Lorsqu'il y a qu'un bénéficiare pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listBeneficiaires!=null && listBeneficiaires.length == 1">
    <div class="numAssure">{{listBeneficiaires[0].nom}} {{listBeneficiaires[0].prenom}} </div>
    <app-formulaire-assure [beneficiaire]="listBeneficiaires[0]" [action]="action"></app-formulaire-assure>
</div>

<!-- S'il y a plusieurs bénéfiaires, on affiche chaque formulaire par bénéficiaire -->
<mat-accordion *ngIf="listBeneficiaires!=null && listBeneficiaires.length > 1">
    <mat-expansion-panel *ngFor="let assure of listBeneficiaires">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{assure.nom}} {{assure.prenom}} </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-formulaire-assure [beneficiaire]="assure" [action]="action"></app-formulaire-assure>

    </mat-expansion-panel>
</mat-accordion>


<!--
INFORMATIONS COUVERTURES ASSURE
-->

<!-- Lorsqu'il y a qu'une couverture pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listCouvertures!=null && listCouvertures.length == 1">
    <div class="numAssure">{{listCouvertures[0].nom_assure}} {{listCouvertures[0].prenom_assure}} </div>
    <app-formulaire-couverture [couverture]="listCouvertures[0]" [action]="action"></app-formulaire-couverture>
</div>

<!-- S'il y a plusieurs couvertures, on affiche chaque formulaire par assuré -->
<mat-accordion *ngIf="listCouvertures!=null && listCouvertures.length > 1">
    <mat-expansion-panel *ngFor="let couverture of listCouvertures">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{couverture.code_option}} {{couverture.debut_effet}} {{couverture.fin_effet}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-formulaire-couverture [couverture]="couverture" [action]="action"></app-formulaire-couverture>

    </mat-expansion-panel>
</mat-accordion>


<!--
INFORMATIONS COUVERTURES BENEFICIAIRES
-->

<!-- Lorsqu'il y a qu'un bénéficiare pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listCouverturesBeneficiaires!=null && listCouverturesBeneficiaires.length == 1">
    <div class="numAssure">{{listCouverturesBeneficiaires[0].nom_assure}} {{listCouverturesBeneficiaires[0].prenom_assure}} </div>
    <app-formulaire-couverture [couverturebeneficiaire]="listCouverturesBeneficiaires[0]" [action]="action"></app-formulaire-couverture>
</div>

<!-- S'il y a plusieurs bénéfiaires, affiche chaque formulaire par assuré -->
<mat-accordion *ngIf="listCouverturesBeneficiaires!=null && listCouverturesBeneficiaires.length > 1">
    <mat-expansion-panel *ngFor="let couvertureof listCouverturesBeneficiaires">
        <!-- Entête de panel -->
        <mat-expansion-panel-header>
            <!-- Titre du panel -->
            <mat-panel-title>
                <span>{{couverture.code_option}} {{couverture.debut_effet}} {{couverture.fin_effet}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Formulaire bénéficaire -->
        <app-formulaire-couverture [couverturebeneficiaire]="couverture" [action]="action"></app-formulaire-couverture>

    </mat-expansion-panel>
</mat-accordion>


<!--
INFORMATIONS SALARIALES
-->

<!-- Lorsqu'il y a qu'un bénéficiare pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listInfosSalaries!=null && listInfosSalaries.length == 1">
    <div class="numAssure">{{listInfosSalaries[0].nom}} {{listInfosSalaries[0].prenom}} </div>
    <app-formulaire-assure [beneficiaire]="listInfosSalaries[0]" [action]="action"></app-formulaire-assure>
</div>

<!-- S'il y a plusieurs bénéfiaires, affiche chaque formulaire par assuré -->
<mat-accordion *ngIf="listInfosSalaries!=null && listInfosSalaries.length > 1">
    <mat-expansion-panel *ngFor="let assure of listInfosSalaries">
        <!-- Entête de panel -->
        <mat-expansion-panel-header>
            <!-- Titre du panel -->
            <mat-panel-title>
                <span>{{assure.nom}} {{assure.prenom}} </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Formulaire bénéficaire -->
        <app-formulaire-assure [beneficiaire]="assure" [action]="action"></app-formulaire-assure>

    </mat-expansion-panel>
</mat-accordion>



<!--
INFORMATIONS BANCAIRES
-->

<!-- Lorsqu'il y a qu'un bénéficiare pour l'évènement en cours d'affichage, nous affichons uniquement le formulaire-->
<div *ngIf="listInfosIban!=null && listInfosIban.length == 1">
    <div class="numAssure">{{listInfosIban[0].nom}} {{listInfosIban[0].prenom}} </div>
    <app-formulaire-assure [beneficiaire]="listInfosIban[0]" [action]="action"></app-formulaire-assure>
</div>

<!-- S'il y a plusieurs bénéfiaires, affiche chaque formulaire par assuré -->
<mat-accordion *ngIf="listInfosIban!=null && listInfosIban.length > 1">
    <mat-expansion-panel *ngFor="let iban of listInfosIban">
        <!-- Entête de panel -->
        <mat-expansion-panel-header>
            <!-- Titre du panel -->
            <mat-panel-title>
                <span>{{iban.nom}} {{iban.prenom}} </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Formulaire bénéficaire -->
        <app-formulaire-assure [beneficiaire]="assure" [action]="action"></app-formulaire-assure>

    </mat-expansion-panel>
</mat-accordion>