// Theme palette
@import "theme.scss";

.operateur
{
    color: $default-color;
    font-weight: bold;
    padding: 5px 0px;
}

h2
{
    margin-top:15px;
}

.down-light
{
    margin-top: 7px;
    margin-bottom: 7px;
}