<div class="contenair">
  <h1>{{rscPlanList.title}}</h1>
  <hr class="down">
  <!-- Conditionne l'affichage du moteur de recherche le temps du chargement des données -->
  <div *ngIf="!isRequestingSearch;then searchContent"></div>

  <ng-template #searchContent>
    <div id="searchPlan">
      <form [formGroup]="formSearchPlan" (ngSubmit)="onSubmit()" autocomplete="off">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <!-- Type de plan -->
          <mat-form-field fxFlex="20">
            <mat-select [placeholder]="rsc.label.typePlan" formControlName="typePlan" tabindex="1">
              <mat-option *ngFor="let typePlan of listTypePlan" [value]="typePlan.code">
                {{ typePlan.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Nom -->
          <mat-form-field fxFlex="20">
            <input matInput formControlName="nom" [placeholder]="rsc.label.nom" max="25" [textMask]="{mask: mask.alpha25 || false,  guide: false}"
             tabindex="2" focus>
          </mat-form-field>
          <!-- Date de début -->
          <mat-form-field fxFlex="20">
            <input matInput formControlName="dateDebut" [placeholder]="rsc.label.dateDebut" [textMask]="{mask: mask.date || false, guide: true}"
              tabindex="3">
          </mat-form-field>
          <!-- Date de fin -->
          <mat-form-field fxFlex="20">
            <input matInput formControlName="dateFin" [placeholder]="rsc.label.dateFin" [textMask]="{mask: mask.date || false, guide: true}"
              tabindex="4">
          </mat-form-field>
          <!-- Bouton rechercher -->
          <button mat-raised-button type="submit" color="primary" tabindex="8"> <i [class]="'fa fa-'+rsc.bouton.rechercher.icon"></i> {{rsc.bouton.rechercher.libelle}}</button>
        </div>
      </form>
    </div>
    <hr class="down-light">
  </ng-template>
  
  <!-- Conditionne l'affichage le temps du chargement des données -->
  <div *ngIf="isRequesting;then overlay else pageContent"></div>

  <!-- Spinner de chargement -->
  <ng-template #overlay>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>

  <!-- Contenu du composant affiché lorsque le chargement des données est terminé-->
  <ng-template #pageContent>

    <div fxLayout="row" fxLayoutAlign="end center">
      <!-- Bouton ajouter -->
      <button *ngIf="autorisationService.isAutorise('WPYPLANDETAIL','creer')" mat-raised-button type="submit" color="primary" (click)="addPlan()"> <i [class]="'fa fa-'+rsc.bouton.ajouter.icon"></i> {{rsc.bouton.ajouter.libelle}}</button>
    </div>

    <!-- Liste des plans -->
    <div>
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Type de plan -->
        <ng-container matColumnDef="typePlan">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.type_plan}} </mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable" [matTooltip]="plan.type_plan" [matTooltipPosition]="rsc.positionTooltip">
            {{plan.type_plan_desc}} </mat-cell>
        </ng-container>

        <!-- Nom du plan -->
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.nom}}</mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable"> {{plan.nom}} </mat-cell>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.description}} </mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable"> {{plan.description}} </mat-cell>
        </ng-container>

        <!-- Date de début-->
        <ng-container matColumnDef="dateDebut">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.date_debut}} </mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable"> {{plan.date_debut | dateYMD}} </mat-cell>
        </ng-container>

        <!-- Date de fin-->
        <ng-container matColumnDef="dateFin">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.date_fin}} </mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable"> {{plan.date_fin | dateYMD}} </mat-cell>
        </ng-container>

        <!-- Actif -->
        <ng-container matColumnDef="actif">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{labelTable.actif}} </mat-header-cell>
          <mat-cell *matCellDef="let plan" (click)="selectPlan(plan.id_plan)" class="clickable"> {{plan.actif}} </mat-cell>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell *matCellDef="let plan">
            <!--<div [matMenuTriggerFor]="menu" #menuTrig="matMenuTrigger" (mouseenter)="menuTrig.openMenu()">-->
            <div [matMenuTriggerFor]="menuAction">
              <i [class]="'fa fa-'+rsc.icons.menu.icon"></i>
            </div>
            <mat-menu #menuAction="matMenu">
              <button *ngIf="autorisationService.isAutorise('WPYPLANDETAIL','modifier')" (click)="updatePlan(plan         )"  mat-menu-item>
                <i [class]="'fa fa-'+rsc.icons.modifier.icon"></i> {{rsc.icons.modifier.label}}
              </button>
              <button *ngIf="autorisationService.isAutorise('WPYPLANDETAIL','supprimer')"  (click)="deletePlan(plan)"  mat-menu-item>
                <i [class]="'fa fa-'+rsc.icons.supprimer.icon"></i> {{rsc.icons.supprimer.label}}
              </button>
              <button *ngIf="autorisationService.isAutorise('WPYPLANDETAIL','creer')"  (click)="duplicatePlan(plan)"  mat-menu-item>
                <i [class]="'fa fa-'+rsc.icons.duppliquer.icon"></i> {{rsc.icons.duppliquer.label}}
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <!-- Entête de tableau -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- Pagination -->
      <mat-paginator #paginator [class.hidden]="listAssures == null || listAssures.length == 0" [pageSize]="10" [pageSizeOptions]="[10,25,50]">
      </mat-paginator>
    </div>
  </ng-template>
</div>