#contentEventDetail {
    //Minimum de hauteur sinon le menu de gauche possède un scroll
    min-height: 400px;
}

.down-light {
    margin-top: 10px;
}

//A SUPPRIMER, plus utilisé
.typeEvenement {
    font-weight: bolder;
    //font-size: 18px;
    //line-height: 32px;
    display: inline-block;
    vertical-align: top;
}

//A SUPPRIMER, plus utilisé
.cardClass {
    padding: 4px;
}