<!-- Conditionne l'affichage le temps du chargement des données -->
<div *ngIf="isRequesting;then overlay else pageContent"></div>

<!-- Spinner de chargement -->
<ng-template #overlay>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>

<!-- Contenu du composant affiché lorsque le chargement des données est terminées-->
<ng-template #pageContent>
    <!-- En-tête -->
    <div class="contenair" fxLayout="column" fxLayoutAlign="start stretch">
        <h1>{{rscBaseTampon.eventDetail.title}}</h1>
        <hr class="down">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <!-- Informations de l'évènement -->
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30">
                <h2>{{rscBaseTampon.eventDetail.titleInfoEvenement}}</h2>
                <hr class="down-h2">
                <div>
                    <span class="showcase"> {{rscBaseTampon.label.typeAction}} :</span>
                    <span class="showcase" [matTooltip]="eventDetail.type_action" [matTooltipPosition]="rsc.positionTooltip" *ngIf="eventDetail.type_action!=''">{{eventDetail.DetailEvt.type_action}}</span>

                    <span *ngIf="eventDetail.type_action==''">{{eventDetail.DetailEvt.type_action}}</span>
                    <br /> {{rscBaseTampon.label.statut}} : {{eventDetail.DetailEvt.statut}}
                    <br />
                    <br /> {{rscBaseTampon.label.idGED}} : {{eventDetail.DetailEvt.id_stockage}}
                    <br />
                    <br /> {{rscBaseTampon.label.dateTraitement}} : {{eventDetail.DetailEvt.date_traitement | dateYMD}} - {{eventDetail.DetailEvt.heure_traitement | heure}}
                    <br /> {{rscBaseTampon.label.provenance}} : {{eventDetail.DetailEvt.provenance}}
                    <br />
                </div>
            </div>

            <!-- Informations assuré/société -->
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="30">
                <h2>{{rscBaseTampon.eventDetail.titleInfoEntite}}</h2>
                <hr class="down-h2">
                <div>
                    {{rsc.label.numAssure}} {{eventDetail.DetailEvt.id_assure}} - {{eventDetail.DetailEvt.nom_assure}} {{eventDetail.DetailEvt.prenom_assure}}
                    <br />
                    <br /> {{rsc.label.numSociete}} {{eventDetail.DetailEvt.id_societe}} - {{eventDetail.DetailEvt.raison_sociale}}
                </div>
            </div>
        </div>

        <hr class="down-light">

        <!-- Détail de l'évènement -->
        <div>
            <!-- Menu d'accès à chaque partie de détail d'une action/évènement -->
            <mat-sidenav-container>
                <mat-sidenav #sidenav mode="side" opened (opened)="sidenavIsOpened = true" (closed)="sidenavIsOpened=false">
                    <mat-list>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.assures.codeEcran" *ngIf="listAssures.length > 0" (click)="onChangeScreen(menuDetail.assures.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.assures.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" selected="true" color="primary">{{listAssures.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.beneficiaires.codeEcran" *ngIf="listBeneficiaires.length > 0" (click)="onChangeScreen(menuDetail.beneficiaires.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.beneficiaires.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" selected="true" color="primary">{{listBeneficiaires.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.couvertureAssure.codeEcran" *ngIf="listCouvertures.length > 0" (click)="onChangeScreen(menuDetail.couvertureAssure.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.couvertureAssure.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" selected="true" color="primary">{{listCouvertures.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.couvertureBenef.codeEcran" *ngIf="listCouverturesBeneficiaires.length > 0" (click)="onChangeScreen(menuDetail.couvertureBenef.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.couvertureBenef.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" selected="true" color="primary">{{listCouverturesBeneficiaires.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.infosSalarie.codeEcran" *ngIf="listInfosSalaries.length > 0" (click)="onChangeScreen(menuDetail.infosSalarie.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.infosSalarie.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" disabled="true" selected="true" color="primary">{{listInfosSalaries.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.infosRIB.codeEcran" *ngIf="listInfosIban.length > 0" (click)="onChangeScreen(menuDetail.infosRIB.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.infosRIB.nomEcran}}</span>
                                <mat-chip-list>
                                    <mat-chip class="pastille" disabled="true" selected="true" color="primary">{{listInfosIban.length}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.documents.codeEcran" *ngIf="eventDetail.documents!=''" (click)="onChangeScreen(menuDetail.documents.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.documents.nomEcran}}</span>
                            </div>
                        </a>
                        <a mat-list-item [class.linkActive]="screen == menuDetail.anomalies.codeEcran" *ngIf="eventDetail.anomalies!=''" (click)="onChangeScreen(menuDetail.anomalies.codeEcran)">
                            <div mat-line fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                                <span class="itemList">{{menuDetail.anomalies.nomEcran}}</span>
                            </div>
                        </a>
                    </mat-list>
                </mat-sidenav>

                <!-- Contenu de la div contenant le détail d'une action/évènement selon le choix dans le menu -->
                <mat-sidenav-content id="contentEventDetail">
                    <div class="btnOpenClose">
                        <i class="fa fa-angle-double-right" (click)="sidenav.toggle()" *ngIf="!sidenavIsOpened"></i>
                        <i class="fa fa-angle-double-left" (click)="sidenav.toggle()" *ngIf="sidenavIsOpened"></i>
                    </div>
                    <div>
                        <!-- Informations assurés -->
                        <app-event-detail-assure *ngIf="screen == menuDetail.assures.codeEcran" [action]="action" [listAssures]="listAssures">
                        </app-event-detail-assure>

                        <!-- Liste des bénéficiaires-->
                        <app-event-detail-assure *ngIf="screen == menuDetail.beneficiaires.codeEcran" [action]="action" [listBeneficiaires]="listBeneficiaires">
                        </app-event-detail-assure>

                        <!-- Couvertures -->
                        <app-event-detail-assure *ngIf="screen == menuDetail.couvertureAssure.codeEcran" [action]="action" [listCouvertures]="listCouvertures">
                        </app-event-detail-assure>

                        <!-- Couvertures bénéficaires -->
                        <app-event-detail-assure *ngIf="screen == menuDetail.couvertureBenef.codeEcran" [action]="action" [listCouverturesBeneficiaires]="listCouverturesBeneficiaires">
                        </app-event-detail-assure>

                        <!-- Informations salariés -->
                        <app-event-detail-assure *ngIf="screen == menuDetail.infosSalarie.codeEcran" [action]="action" [listInfosSalaries]="listInfosSalaries">
                        </app-event-detail-assure>

                        <!-- Informations IBAN -->
                        <app-event-detail-assure *ngIf="screen == menuDetail.infosRIB.codeEcran" [action]="action" [listInfosIban]="listInfosIban">
                        </app-event-detail-assure>


                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
        <hr class="down-light">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-raised-button color="primary" *ngIf="autorisationService.isAutorise('WADETAIL','creer')">{{rscBaseTampon.eventDetail.label.validationDefinitive}}</button>
            <button mat-raised-button color="warn" *ngIf="autorisationService.isAutorise('WADETAIL','supprimer')">{{rscBaseTampon.eventDetail.label.suppressionDefinitive}}</button>
        </div>
    </div>

</ng-template>