@import 'theme.scss';

#haut_de_page
{
    background-color: $default-bg-color;
    color: $default-bg-text-color;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#nameModal
{
    margin-left: 20px;
}
