<div class="contenair">

  <app-plan-informations [infosPlan]='objet' (objet)="onChangeObjet($event)"></app-plan-informations>

  <h1>{{rscPlanCritApp.title}}</h1>
  <hr class="down">
  <!-- Conditionne l'affichage le temps du chargement des données -->
  <div *ngIf="isRequesting;then overlay else pageContent"></div>

  <!-- Spinner de chargement -->
  <ng-template #overlay>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>

  <!-- Contenu du composant affiché lorsque le chargement des données est terminé-->
  <ng-template #pageContent>
    Liste des critères d'application sous forme de tableau + menu pour modifier ou supprimer la ligne + bouton ajouter
    <br />
    JSON TMP + contrat d'interface à créer + service dans pythie.service
  </ng-template>
</div>