//Couleurs production - assuré
$md-purple: (
  50 : #efecf0,
  100 : #d8d0da,
  200 : #beb0c1,
  300 : #a390a8,
  400 : #907995,
  500 : #7c6182,
  600 : #74597a,
  700 : #694f6f,
  800 : #5f4565,
  900 : #4c3352,
  A100 : #eda3ff,
  A200 : #e270ff,
  A400 : #d83dff,
  A700 : #d324ff,
  A900 : #333333,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//Couleurs production - entreprise
$md-green: (
  50 : #f4f8e7,
  100 : #e3edc2,
  200 : #d1e29a,
  300 : #bfd672,
  400 : #b1cd53,
  500 : #a3c435,
  600 : #9bbe30,
  700 : #91b628,
  800 : #88af22,
  900 : #77a216,
  A100 : #f1ffd5,
  A200 : #e0ffa2,
  A400 : #cfff6f,
  A700 : #c7ff56,
  A900 : #333333,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//Couleurs recette
$md-orange: (
  50 : #fdf3e0,
  100 : #fbe0b3,
  200 : #f9cb80,
  300 : #f6b64d,
  400 : #f4a726,
  500 : #f29700,
  600 : #f08f00,
  700 : #ee8400,
  800 : #ec7a00,
  900 : #e86900,
  A100 : #ffffff,
  A200 : #ffeadc,
  A400 : #ffcaa9,
  A700 : #ffbb90,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//Couleurs developpement
$md-pink: (
  50 : #FCE4EC,
  100 : #F8BBD0,
  200 : #F48FB1,
  300 : #F06292,
  400 : #EC407A,
  500 : #E91E63,
  600 : #D81B60,
  700 : #C2185B,
  800 : #AD1457,
  900 : #880E4F,
  A100 : #FF80AB,
  A200 : #FF4081,
  A400 : #F50057,
  A700 : #C51162,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


//Couleurs dévelopement 
$md-blue: (
  50 : #E1F5FE,
  100 : #B3E5FC,
  200 : #81D4FA,
  300 : #4FC3F7,
  400 : #29B6F6,
  500 : #03A9F4,
  600 : #039BE5,
  700 : #0288D1,
  800 : #0277BD,
  900 : #01579B,
  A100 : #80D8FF,
  A200 : #40C4FF,
  A400 : #00B0FF,
  A700 : #0091EA,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//Couleurs dévelopement 
$md-blue: (
  50 : #E1F5FE,
  100 : #B3E5FC,
  200 : #81D4FA,
  300 : #4FC3F7,
  400 : #29B6F6,
  500 : #03A9F4,
  600 : #039BE5,
  700 : #0288D1,
  800 : #0277BD,
  900 : #01579B,
  A100 : #80D8FF,
  A200 : #40C4FF,
  A400 : #00B0FF,
  A700 : #0091EA,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//Couleurs dévelopement 
$md-lightgreen: (
  50 : #F1F8E9,
  100 : #DCEDC8,
  200 : #C5E1A5,
  300 : #AED581,
  400 : #9CCC65,
  500 : #8BC34A,
  600 : #7CB342,
  700 : #689F38,
  800 : #558B2F,
  900 : #33691E,
  A100 : #CCFF90,
  A200 : #B2FF59,
  A400 : #76FF03,
  A700 : #64DD17,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


//Couleurs dévelopement 
$md-deeppurple: (
  50 : #EDE7F6,
  100 : #D1C4E9,
  200 : #B39DDB,
  300 : #9575CD,
  400 : #7E57C2,
  500 : #673AB7,
  600 : #5E35B1,
  700 : #512DA8,
  800 : #4527A0,
  900 : #311B92,
  A100 : #B388FF,
  A200 : #7C4DFF,
  A400 : #651FFF,
  A700 : #6200EA,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-white: (
  50 : #fefdfe,
  100 : #fcfbfe,
  200 : #faf8fd,
  300 : #f7f5fc,
  400 : #f6f3fb,
  500 : #f4f1fa,
  600 : #f3eff9,
  700 : #f1edf9,
  800 : #efebf8,
  900 : #ece7f6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-lightgrey:  (
  50 : #f1f3f1,
  100 : #dde0dc,
  200 : #c7cbc5,
  300 : #b0b6ae,
  400 : #9fa79c,
  450 : #bbbbbb,
  500 : #8e978b,
  600 : #868f83,
  700 : #7b8478,
  800 : #717a6e,
  850 : #888888,
  900 : #5f695b,
  A100 : #e4fdda,
  A200 : #c1faaa,
  A400 : #9aff72,
  A700 : #88ff58,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


